*{
border:0;
margin:0;
padding:0;
}
body{
background-image:url("pent.jpg");
}
section#contenedor{
background:#2F2F2F;
height:2400px;
width:750px;
margin-right:auto;
margin-left:auto;
}
#banner{
background:#530000;
width:750px;
height:100px;
}